{% extends "base.html" %}
{% block title %}Codenamer AI{% endblock %}
{% block content %}
    <h1>Codenamer AI ({{ name }})</h1>
    <form method="post">
        <div class="form-group">
            <label for="w_pos">Positive</label>
            <textarea class="form-control" id="w_pos" name="w_pos" rows="2">{{ inst.w_pos|join(" ") }}</textarea>
        </div>
        <div class="form-group">
            <label for="w_neut">Neutral</label>
            <textarea class="form-control" id="w_neut" name="w_neut" rows="2">{{ inst.w_neut|join(" ") }}</textarea>
        </div>
        <div class="form-group">
            <label for="w_neg">Negative</label>
            <textarea class="form-control" id="w_neg" name="w_neg" rows="2">{{ inst.w_neg|join(" ") }}</textarea>
        </div>
        <div class="form-group">
            <label for="w_kill">Killer</label>
            <textarea class="form-control" id="w_kill" name="w_kill" rows="1">{{ inst.w_kill|join(" ") }}</textarea>
        </div>
        <div class="form-group">
            <button type="submit" name="b_random" class="btn btn-primary">Use random words</button>
            <button type="submit" name="b_given" class="btn btn-primary">Use given words</button>
        </div>
        {% if voted %}
        <div class="alert alert-success">
            Vote recorded.
        </div>
        {% elif inst.hints %}
        <table>
            <tr>
                <th>Hint</th>
                <th>Score</th>
                {% for c in cols %}<th>{{ c[0] }}</th>{% endfor %}
            </tr>
            {% for h in inst.hints %}{% set hintloop = loop %}
            <tr>
                <td><input type="text" name="h_{{ hintloop.index0 }}" value="{{ h.word }}" readonly></td>
                <td><input type="text" name="s_{{ hintloop.index0 }}" value="{{ h.score }}" readonly></td>
                {% for c in cols %}<td>
                    <input type="checkbox" name="cb_{{ hintloop.index0 }}_{{ loop.index0 }}"
                    value="1" class="{{ c[1] }}">
                </td>{% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="form-group">
            <button type="submit" name="b_vote" class="btn btn-primary">Vote</button>
        </div>
        {% endif %}
    </form>
    <hr>
    <a href="https://github.com/gavento/codenamer">[github]</a>
{% endblock %}